<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}        
      </div>

      <h1 class="page-heading">Últimos Posts</h1>

      <ul class="post-list">
        {% for post in site.posts %}
        <li>
          <p class="post-meta">{{ page.date | date: "%b %-d %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
        {% endfor %}
      </ul>

      <p class="rss-subscribe">Inscreva-se <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      
    </div>

    {% include footer.html %}

  </body>

</html>
