---
layout: default
---

<div class="post">



  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Públicado em {% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}de Janeiro,
  {% when '2' %}de Fevereiro,
  {% when '3' %}de M&auml;rz,
  {% when '4' %}de Abril,
  {% when '5' %}de Maio,
  {% when '6' %}de Junho,
  {% when '7' %}de Julho,
  {% when '8' %}de Agosto,
  {% when '9' %}de Setembro,
  {% when '10' %}de Outubro,
  {% when '11' %}de Novembro,
  {% when '12' %}de Dezembro,
{% endcase %}
{{ page.date | date: "%Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}    
  </article>

  <div class="post-comments">{% include comments.html %}</div>

</div>



